body {
  margin: 0;
}
header {
  background-color: rgb(255, 213, 0);
  width: 100%;
  height: 60px;
  border-bottom: 5px solid black;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  position: relative;
}
header a,
.top-main a {
  text-decoration: none;
}
.logo {
  margin: 0 60px;
  height: 100%;
  line-height: 60px;
  font-size: 24px;
  color: white;
}
.nav-toggle {
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.nav-toggle span {
  display: block;
  height: 5px;
  width: 40px;
  margin: 5px 10px;
  border-radius: 2px;
  background-color: black;
  transition: 0.3s;
}
.open span:nth-child(1) {
  display: block;
  width: 40px;
  border-radius: 2px;
  background-color: black;
  transition: 0.3s;
  transform: rotate(45deg);
  position: absolute;
  top: 25px;
}
.open span:nth-child(2) {
  opacity: 0;
}
.open span:nth-child(3) {
  display: block;
  width: 40px;
  border-radius: 2px;
  background-color: black;
  transition: 0.3s;
  transform: rotate(-45deg);
  position: absolute;
  bottom: 20px;
}
.nav-wrapper {
  position: fixed;
  top: 60px;
  right: -200px;
  height: 100%;
  width: 200px;
  background-color: black;
  transition: 300ms;
  z-index: 10;
}
.open {
  position: absolute;
  right: 0;
}
.nav-wrapper ul {
  margin: 0;
  padding: 0;
}
.nav-wrapper li {
  list-style: none;
  height: 80px;
  text-align: center;
  line-height: 80px;
  margin: 10%;
}
.nav-wrapper a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  color: white;
}
.nav-wrapper a:hover {
  background-color: white;
  color: black;
}
.img {
  width: 100px;
  height: 100px;
}
.main {
  /* width: 100%; */
  width: 540px;
  margin: 0 auto;
  height: calc(100vh - 60px);
  /* position: absolute; */
  top: 60px;
  left: 0;
  /* position: relative */
  display: flex;
}
.left {
  width: 60%;
}
.right {
  width: 30%;
}
.ad-img {
  width: 200px;
  height: 200px;
}
.list {
  display: flex;
}
/* top.php */
.box{
  width: 50%;
  height: 50%;
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: bottom;
}
.upper-left{
  background-image: url(../product/gazou/top-3.jpg);
}
.upper-right{
  background-image: url(../product/gazou/top-2.jpg);
}
.bottom-left{
  background-image: url(../product/gazou/top-1.jpg);
}
.bottom-right{
  background-image: url(../product/gazou/top-4.jpg);
}

.upper-right{
  background-color: yellow;
}
.bottom-left{
  background-color: violet;
}
.bottom-right{
  background-color: blueviolet;
}
.top-title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.top-main{
  width: 100%;
  height: calc(100vh - 60px);
  /* position: absolute; */
  /* top: 60px; */
  /* left: 0; */
  display: flex;
  flex-wrap: wrap;
  /* position: relative; */
  z-index: 1;
}
/* slidIn */
/* animate: [ 1. 名前 ] [ 2. 時間 ] [ 3. イージング ] [ 4. 待ち ] [ 5. 繰り返し ] [ 6. 逆再生 ] [ 7. 終了後 ]; */
.upper-right{
  opacity: 0;
  animation: slideIn 4s cubic-bezier(0.25, 1, 0.5, 1) 1s 1 forwards;
}
.bottom-right{
  opacity: 0;
  animation: slideIn 4s cubic-bezier(0.25, 1, 0.5, 1) 5s 1 forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(180px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
  /* 40%,
  100% {
  } */
}

@keyframes slideCut {
  0% {
    transform: translateX(-180px);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.upper-left{
  opacity: 0;
  animation: slideCut 4s cubic-bezier(0.25, 1, 0.5, 1) 3s 1 forwards;
}
.bottom-left{
  opacity: 0;
  animation: slideCut 4s cubic-bezier(0.5, 1, 0.25, 1) 7s 1 forwards;
}